# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc

# Banco de dados
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Arquivos compactados
*.rar
*.zip

# Ambiente
.env
.env.*
!.env.example
!sync/.env.example

# IDE
.vscode/
.idea/

# Logs
*.log
.local/

# Sistema
.DS_Store
Thumbs.db

# Replit / temporário
.replit
